<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>信息研判系統-北京市监管</title>
    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">
    <!-- These plugins only need for the run this page -->
    <link rel="stylesheet" href="css/default-assets/notification.css">
    <link rel="stylesheet" href="css/c3.min.css">
    <!-- Master Stylesheet [If you remove this CSS file, your file will be broken undoubtedly.] -->
    <link rel="stylesheet" href="style.css">

</head>

<body class="vertical-dark">
<!-- Preloader -->
<div id="preloader"></div>
<!-- ======================================
******* Page Wrapper Area Start **********
======================================= -->
<div class="admetro-page-wrapper">
    <!-- Sidemenu Area -->
    <div class="admetro-sidemenu-area">
        <!-- Desktop Logo -->
        <div class="admetro-logo">
            <a href="/"><img class="desktop-logo" src="img/core-img/logo.png" alt="Desktop Logo"> <img class="small-logo" src="img/core-img/small-logo.png" alt="Mobile Logo"></a>
        </div>
        <!-- Side Nav -->
        <div class="admetro-sidenav" id="admetroSideNav">
            <!-- Side Menu Area -->
            <div class="side-menu-area">
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="active">
                        <a href="/"><i class="ti-home"></i><span>全所分析</span></a>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)"><i class="ti-magnet"></i> <span>人员信息研判</span> <i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="accordins.html">Accordion</a></li>
                            <li><a href="buttons.html">Button</a></li>
                            <li><a href="badges.html">Badges</a></li>
                            <li><a href="notification.html">Notification</a></li>
                            <li><a href="progressbar.html">Progressbar</a></li>
                            <li><a href="typography.html">Typography</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)"><i class="ti-ruler-pencil"></i> <span>案件信息研判</span> <i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="slider.html">Slider</a></li>
                            <li><a href="modals.html">Modals</a></li>
                            <li><a href="loader.html">Loader</a></li>
                            <li><a href="invoice.html">Invoice</a></li>
                            <li><a href="file-manager.html">File Manager</a></li>
                            <li><a href="dragula.html">Dragula</a></li>
                            <li><a href="sweet-alert.html">Sweet Alert</a></li>
                            <li><a href="agile-board.html">Agile Board</a></li>
                            <li><a href="todo-list.html">Todo list</a></li>
                            <li><a href="banner.html">Banner</a></li>
                            <li><a href="clipboard.html">Clipboard</a></li>
                            <li><a href="context-menu.html">Context Menu</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)"><i class="ti-clipboard"></i> <span>民警信息研判</span> <i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="basic-form.html">Basic Form</a></li>
                            <li><a href="form-wizard.html">Wizard Form</a></li>
                            <li><a href="form-validation.html">Form Validation</a></li>
                            <li><a href="form-repeater.html">Form Repeater</a></li>
                            <li><a href="file-upload.html">File Upload</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)"><i class="ti-bar-chart-alt"></i> <span>风险情况研判</span> <i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="am-column-bar-chart.html">Am Column Bar Chart</a></li>
                            <li><a href="am-line-areachart-chart.html">Am Line Area Chart</a></li>
                            <li><a href="c3-charts.html">C3 Chart</a></li>
                            <li><a href="c3-api-chart.html">C3 Api Chart</a></li>
                            <li><a href="echart-candelstick.html">Echart Candelstick</a></li>
                            <li><a href="echart-funnel-radar.html">Echart Funnel Radar</a></li>
                            <li><a href="chart-sparkline.html">Chart Sparkline</a></li>
                            <li><a href="echart-scatters.html">Echart Scatters</a></li>
                            <li><a href="e-chart-js.html">Echart</a></li>
                            <li><a href="google-chart.html">Google Chart</a></li>
                            <li><a href="peity-chart.html">Peity Chart</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)"><i class="ti-layout"></i> <span>其他信息研判</span> <i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="edit-table.html">Edit Table</a></li>
                            <li><a href="data-table.html">Data table</a></li>
                            <li><a href="js-grid-table.html">Js Grid Table</a></li>
                            <li><a href="price-table.html">Price Table</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)"><i class="ti-notepad"></i> <span>定制信息研判</span> <i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="account-setting.html">Account Setting</a></li>
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="video.html">Video</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="contact-2.html">Contact-2</a></li>
                            <li><a href="call-to-action.html">Call To Action</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                            <li><a href="404.html">404</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Page Content -->
    <div class="admetro-page-content">
        <!-- Top Header Area -->
        <header class="top-header-area d-flex align-items-center justify-content-between">
            <div class="left-side-content-area d-flex align-items-center">
                <!-- Mobile Logo -->
                <div class="mobile-logo mr-3 mr-sm-4">
                    <a href="index.html"><img src="img/core-img/small-logo.png" alt="Mobile Logo"></a>
                </div>

                <!-- Triggers -->
                <div class="admetro-triggers mr-1 mr-sm-3">
                    <div class="menu-collasped" id="menuCollasped">
                        <i class="ti-align-right"></i>
                    </div>
                    <div class="mobile-menu-open" id="mobileMenuOpen">
                        <i class="ti-align-right"></i>
                    </div>
                </div>

            </div>
        </header>

        <!-- Main Content Area -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="row align-items-end">
                    <div class="col-8">
                        <!-- Page Title -->
                        <div class="page-title mb-30">
                            <h5 class="mb-0">信息研判模板</h5>
                            <span>全所整体业务分析模板,欢迎使用!</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4 mb-30">
                        <!-- Widget Social Content -->
                        <div class="widget-social-content p-5 primary-color full-height wow fadeInUp" data-wow-delay="200ms">
                            <h5 class="text-white">模板总数</h5>
                            <h3 class="text-white">10+</h3>
                            <!-- Widget Social Icon -->
                            <div class="widget-social-icon">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4 mb-30">
                        <!-- Widget Social Content -->
                        <div class="widget-social-content p-5 bg-teal full-height wow fadeInUp" data-wow-delay="300ms">
                            <h5 class="text-white">新增数</h5>
                            <h3 class="text-white">1+</h3>
                            <!-- Widget Social Icon -->
                            <div class="widget-social-icon">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mb-30">
                        <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="200ms">
                            <div class="card-body">
                                <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between">
                                    <h6 class="text-black">监所全貌</h6>
                                    <div class="dashboard-dropdown">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                <a class="dropdown-item popwin start" href="#" url="/html/zd/wxjs/pages/appIndex.html"><i class="ti-pencil-alt"></i> 预览</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- am chart area -->
                                <div>
                                    <img src="/img/fxyp-img/20190705123242.jpg" style="width: 100%;height:600px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-30">
                        <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="200ms">
                            <div class="card-body">
                                <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between">
                                    <h6 class="text-black">超期羁押情况分析</h6>
                                    <div class="dashboard-dropdown">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                <a class="dropdown-item popwin" href="#" url="html/kss/cqjyqkfx/cqjyqkfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                <a class="dropdown-item" href="#"><i class="ti-settings"></i> 模型设置</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <img src="./js/images/cqjyqkfx.png" alt=""class="imgs"/>
                                    </div>

                                </div> 
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3 mb-30">
                        <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="300ms">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                        <h6 class="text-black">关押期限分析</h6>
                                        <div class="dashboard-dropdown">
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                    <a class="dropdown-item popwin" href="#" url="html/kss/gyqxfx/gyqxfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <img src="./js/images/gyqxfx.png" alt=""class="imgs"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3 mb-30">
                        <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="400ms">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                        <h6 class="text-black">超量关押分析</h6>
                                        <div class="dashboard-dropdown">
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                    <a class="dropdown-item popwin start" href="#" url="html/kss/allone/chart.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <img src="./js/images/clgyfx.png" alt="" class="imgs"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3 mb-30">
                        <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="500ms">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                        <h6 class="text-black">重点人员分析</h6>
                                        <div class="dashboard-dropdown">
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                    <a class="dropdown-item popwin" href="#" url="html/kss/zdryfx/zdryfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <img src="./js/images/zdryfx.png" alt="" class="imgs"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-12 col-md-6 mb-30">
                                <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="200ms">
                                    <div class="card-body">
                                        <div class="sparkline-chart">
                                            <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                                <h6 class="text-black">医疗情况分析</h6>
                                                <div class="dashboard-dropdown">
                                                    <div class="dropdown">
                                                        <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                            <a class="dropdown-item popwin" href="#" url="html/kss/ylqkfx/ylqkfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <img src="./js/images/ylqkfx.png" alt="" class="imgs"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mb-30">
                                <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="300ms">
                                    <div class="card-body">
                                        <div class="sparkline-chart">
                                            <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                                <h6 class="text-black">人员分类分析</h6>
                                                <div class="dashboard-dropdown">
                                                    <div class="dropdown">
                                                        <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                            <a class="dropdown-item popwin" href="#" url="html/kss/ryflfx/ryflfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <img src="./js/images/ryflfx.png" alt="" class="imgs"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mb-30">
                                <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="400ms">
                                    <div class="card-body">
                                        <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                            <h6 class="text-black">涉黑涉恶人员统计</h6>
                                            <div class="dashboard-dropdown">
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                        <a class="dropdown-item popwin" href="#" url="html/kss/shserytj/shserytj.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <img src="./js/images/shserytj.png" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mb-30">
                                <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="400ms">
                                    <div class="card-body">
                                        <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                            <h6 class="text-black">国籍分析</h6>
                                            <div class="dashboard-dropdown">
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                        <a class="dropdown-item popwin" href="#" url="html/kss/gjfx/gjfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <img src="./js/images/gjfx.png" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 mb-30">
                        <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="200ms">
                            <div class="card-body">
                                <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between">
                                    <h6 class="text-black">违规情况分析</h6>
                                    <div class="dashboard-dropdown">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                <a class="dropdown-item popwin" href="#" url="html/kss/wgqkfx/wgqkfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="notifications-box" >
                                    <img src="./js/images/wgqkfx.png" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-12 col-md-6 mb-30">
                                <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="200ms">
                                    <div class="card-body">
                                        <div class="sparkline-chart">
                                            <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                                <h6 class="text-black">案件情况分析</h6>
                                                <div class="dashboard-dropdown">
                                                    <div class="dropdown">
                                                        <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                            <a class="dropdown-item popwin" href="#" url="html/kss/ajqkfx/ajqkfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <img src="./js/images/ajqkfx.png" alt="" class="imgs"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mb-30">
                                <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="300ms">
                                    <div class="card-body">
                                        <div class="sparkline-chart">
                                            <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                                <h6 class="text-black">留所服刑分析</h6>
                                                <div class="dashboard-dropdown">
                                                    <div class="dropdown">
                                                        <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                            <a class="dropdown-item popwin" href="#" url="html/kss/lsfxfx/lsfxfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <img src="./js/images/lsfxfx.png" alt="" class="imgs"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mb-30">
                                <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="400ms">
                                    <div class="card-body">
                                        <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                            <h6 class="text-black">严重疾病人员分析</h6>
                                            <div class="dashboard-dropdown">
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                        <a class="dropdown-item popwin" href="#" url="html/kss/yzjbryfx/yzjbryfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <img src="./js/images/yzjbryfx.png" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mb-30">
                                <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="400ms">
                                    <div class="card-body">
                                        <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                            <h6 class="text-black">吸毒人员分析</h6>
                                            <div class="dashboard-dropdown">
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                        <a class="dropdown-item popwin" href="#" url="html/kss/xdryfx/xdryfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <img src="./js/images/xdryfx.png" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 mb-30">
                        <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="200ms">
                            <div class="card-body">
                                <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between">
                                    <h6 class="text-black">送监未收人员分析</h6>
                                    <div class="dashboard-dropdown">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                <a class="dropdown-item popwin" href="#" url="html/kss/sjwsryfx/sjwsryfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="notifications-box" >
                                    <img src="./js/images/sjwsryfx.png" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-12 col-md-6 mb-30">
                                <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="200ms">
                                    <div class="card-body">
                                        <div class="sparkline-chart">
                                            <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                                <h6 class="text-black">临时离所分析</h6>
                                                <div class="dashboard-dropdown">
                                                    <div class="dropdown">
                                                        <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                            <a class="dropdown-item popwin" href="#" url="html/kss/lslsfx/lslsfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <img src="./js/images/lslsfx.png" alt="" class="imgs"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mb-30">
                                <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="300ms">
                                    <div class="card-body">
                                        <div class="sparkline-chart">
                                            <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                                <h6 class="text-black">二</h6>
                                                <div class="dashboard-dropdown">
                                                    <div class="dropdown">
                                                        <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                            <a class="dropdown-item popwin" href="#" url="html/kss/ryflfx/ryflfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <img src="" alt="" class="imgs"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mb-30">
                                <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="400ms">
                                    <div class="card-body">
                                        <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                            <h6 class="text-black">三</h6>
                                            <div class="dashboard-dropdown">
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                        <a class="dropdown-item popwin" href="#" url="html/kss/yzjbryfx/yzjbryfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <img src="" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mb-30">
                                <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="400ms">
                                    <div class="card-body">
                                        <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                                            <h6 class="text-black">四</h6>
                                            <div class="dashboard-dropdown">
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                        <a class="dropdown-item popwin" href="#" url="html/kss/xdryfx/xdryfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <img src="" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 mb-30">
                        <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="200ms">
                            <div class="card-body">
                                <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between">
                                    <h6 class="text-black">巡视考核</h6>
                                    <div class="dashboard-dropdown">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                                <a class="dropdown-item popwin" href="#" url="html/kss/xskh/xskh.html"><i class="ti-pencil-alt"></i> 预览</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="notifications-box" >
                                    <img src="./js/images/xskh.png" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Footer Area -->
            <footer class="footer-area d-flex align-items-center flex-wrap">
                <!-- Copywrite Text -->
                <div class="copywrite-text">
                    <p>&copy; 2019 created by 南京安威德科技有限公司</p>
                </div>
            </footer>
        </div>
    </div>
</div>
    <!-- ======================================
    ********* Page Wrapper Area End ***********
        ======================================= -->
	<script type="text/javascript" src="js/seajs/sea.js"></script>
    <script type="text/javascript">
        seajs.config({
            base: "./js",
            preload: ["plugins/jquery/jquery-3.3.1.min","admetro.bundle.js"],
            map:[
                [ /^(.*\.(?:css|js))(.*)$/i,'$1$2']
            ]
        });
        seajs.use('pages/index');
    </script>
</body>


</html>
