<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>使用说明</title>
</head>
<body>
<center>
<h1>这是一段使用说明！</h1>
<div>1、《生活》当欢笑淡成沉默，当信心变成失落，我走近梦想的脚步，是否依旧坚定执着；当笑颜流失在心的沙漠，当霜雪冰封了亲情承诺，我无奈的心中，是否依然碧绿鲜活。有谁不渴望收获，有谁没有过苦涩，有谁不希望生命的枝头挂满丰硕，有谁愿意让希望变成梦中的花朵。现实和理想之间，不变的是跋涉，暗淡与辉煌之间，不变的是开拓。甩掉世俗的羁绊，没谁愿意，让一生在碌碌无为中度过。整理你的行装，不同的起点，可以达到同样辉煌的终点。人生没有对错，成功永远属于奋斗者。
<br>
　　2、诚实的人，把生活看作连绵的山峰一座座努力攀登；狡猾的人，把生活看作一艘航船，见风驶舵把握方向。狡猾的人，也许终身得利，却失去了真实的自己；诚实的人，也许一生坎坷，却找到了生活的真谛。

　　3、家可以延伸到很远很远，包容大千世界；家可以缩得很小很小，仅两个人也可打得不可开交。家可以绿树成荫，繁华似锦，围起一个小鸟的天堂。家可以狼籍一片，血流漂杵，筑成一对男女的死牢。关键须每位成员既是国王也是兵，建设它守卫它，和谐地调整家的内政外交，处理好家的边关防务。

　　4、一切能激发生机的思想都是美好的。敌人只有一个，那就是自私，它能使生命的泉水变得浑浊而枯竭，它能使心灵的天空变得狭窄而阴暗。它能使理想的星辰变得昏暗而模糊。努力激发你心中的光明和力量，激发那无私的爱和奉献的喜悦。

　　5、春之色为冷的绿，如碧波，如嫩竹，贮满了无限的希望。秋之色为热的赤，如夕阳，如红叶，标志着万物的终极。秋之色为暖的黄，如金穗，如高粱，荡漾着丰收的喜悦。

　　6、《关于友情》：友情因无所求而深刻，不管彼此是平衡还是不平衡。诗人周涛描写过一种平衡的深刻：“两棵在夏天喧哗着聊了很久的树，彼此看见对方的黄叶飘落于秋风，它们沉静了片刻，互相道别说，‘明年夏天见’”楚楚则写过一种不平衡的深刻：“真想为你好好活着，但我，疲惫已极，在我生命终结前，你没有抵达，只为看你之后一眼，我才飘落在这里。”都是无所求的飘落，都是诗化的高贵。

　　7、你不能左右天气，但可以改变心情。你不能改变容貌，但可以掌握自己。你不能预见明天，但可以珍惜今天。

　　8、我爱雨，爱着雨，爱听雨，爱想雨，也爱思雨。雨，像希望，像企盼，也像信念；雨，像誓言，像承诺，也像等待。等待再一次下雨，等待再一次失败，等待再一次重生，也等待再一次思雨。冷风拂起了颓废的柳枝，无力的在风雨中挣扎，像求生一样，它也在等待，等待新生，等待枯黄，等待生命的轮回。

　　9、有人不择手段地沽名钓誉，结果名声扫地；雷锋做好事从不留名，却享誉神州；有人要写长留世上的文字，结果速被遗忘；鲁迅惟愿文章速朽，却光耀千古。问天下文章几篇能留住？繁星满天，只取一勾新月。有人千方百计地追求长命，结果一生平庸。王勃英年早逝，却留下千古绝唱。问世上几人声名传天下？恒河沙数，惟有钻石闪光。问古往今来几人垂青史？大浪淘沙，只剩些许真金。

　　10、树正在长成新叶，好像某事呼之欲出，初绽的嫩芽悄然绽放，点点新绿恰似某种幽怨。是否它们再获新生，(www.lz13.cn)我们却颓然老去。不，它们也会死亡，它们簇然一新，年年如是的把戏，正被刻写在树的年轮上。永不静歇的树丛依然摇曳，在成熟稠密的年年五月，去年已死，它们似乎在诉说，开始重生，重生，重生。

　　11、如果说眼睛是心灵洞开的一对窗扇，是心灵涌出的两汪清泉；那么，秘密，就是心灵珍藏的一座宝矿，是心灵敛聚的一抹灵光。是不是，心灵中有了一个秘密，才称得上是一个真正的人？

　　12、花是如此柔弱，再美再艳，依然经不起朝来寒雨晚来风，春红谢匆匆，只剩满怀愁情。花却又是美丽的战士，风雨中尽管渐渐绿肥红瘦，终究不肯低头。生命也是一样，像精致的玻璃酒杯，常常经不起天灾人祸的撞击，粉碎成一地璀璨，每一片都是透明的心，生命又常常像昙花，用许多年的泪与汗，掺上心血浇灌，才会有笑看天下的一刻。

　　13、翻开古代诗词，你可以一一品味诗人们深切的思想感情，继而有所思，有所悟。读王维、孟浩然，你懂得了什么是钟情山水；读杜甫、白居易，你懂得了什么是忧民情结；读辛弃疾、陆游，你懂得了什么是爱国情怀。读着、品着，你已经和诗人们融为一体了，潜移默化中提高了自己的品德修养和审美情趣。

　　14、庄子是一棵孤独的树，是一棵孤独的在深夜看守心灵月亮的树。当我们大都在黑夜里昧昧欲睡时，月亮为什么没有丢失？就是因为有了这样一两棵在清风夜唳中独自看守心灵月亮的树。庄子眼极冷，心肠极热。眼冷，故是非不管；心肠热，故悲慨万千，虽知无用而未能忘情，到底热肠挂住，虽不能忘情，而终不下手，到底冷眼看穿。

　　15、《提醒幸福》：简言之，幸福就是没有痛苦的时刻。他出现的频率并不比我们想象的少，人们常常只是在幸福的金马车驶过去很远时，捡起地上的金鬃毛说，原来我见过它。人们喜欢会为幸福的标本，却忽略了幸福披着露水散发清香的时刻。那时候我们往往步履匆匆，瞻前顾后，不知在忙些什么。世上有人预报台风，有人预报蝗虫，有人预报瘟疫，有人预报地震，却没有人预报幸福。

　　16、如果说，读书是在奠定人生的基石，在梳理人生的羽毛，那么，实践，就是在构建人生的厅堂，历练人生的翅膀。是不是，人生经过了实践，才能真正矗立、飞翔在天地之间？

　　17、奔着幸福，我们苦苦寻觅。可是，幸福在哪儿？幸福该是沙漠中一片清凉的绿洲吧？我们跋山涉川，望眼欲穿，最终却只见到几丛沙棘；幸福该是大海中的一颗闪亮的珍珠吧？我们涉江探海，寻踪觅迹，末了却只捡到几只贝壳；幸福该是旅途中的一座舒适的城堡吧？我们饥餐渴饮，夜往晓行，最后却只找到一处陋室；幸福该是山那边的一处桃红杏黄的花果园吧？我们千辛万苦，气喘吁吁，终了却只见到几弯垂柳、几丛小草。其实我们不要把幸福太理想化了，世上本没有完整无缺的幸福。

　　18、懒惰者凌乱不堪的足迹，徘徊倒退，是写在人生路上的忏悔书狼狈不堪；勤奋者坚实有力的脚印，勇往直前，是刻在高峰险处的抒情诗，何等豪放。

　　19、人生是一本怎样的书呢？有的人平平淡淡，和风细雨，但他的人生之路却丰富细腻；有的人坎坎坷坷，千磨万难，但他的人生之书却引人入胜；有的人飞黄腾达，青云有路，但他的人生之书却不堪卒度。

　　20、你的命运，一半在自己手中，另一半在上帝手中。你一生的全部就在于：运用你手里所拥有的，去获取上帝手中缩掌握的。你的努力越超常，你手里掌握的那一半就越庞大，你获得的久越丰硕。在你彻底绝望时，别忘了自己拥有一半的命运，在你得意忘形时，别忘了上帝手里还有一半的命运。你一生的努力就在于：用你自己的一半去获取上帝手中的一半。这就是命运的一生，这就是一生的命运。</div>
</center>
</body>
</html>