<div class="left malign-tl dper-full-h">
    <div class="left_nav dper-full-w" id="navMe">
        <ul>
            <li>
                <div class="t"><i class="img1 malign-center-left bg-img"></i><a class="malign-center font-22" href="#">出入所</a><i class="i2 malign-center-right bg-img"></i></div>
                <div class="txt font-20 dper-por">
                    <div class="xian malign-tl"></div>
                    <p class="dper-por nav-info" data-name="收押入所"><a class="malign-center-text " href="#">------收押入所</a></p>
                    <p class="dper-por nav-info" data-name="出所管理"><a class="malign-center-text " href="#">------出所管理</a></p>
                    <p class="dper-por nav-info" data-name="临时出所"><a class="malign-center-text " href="#">------临时出所</a></p>
                    <p class="dper-por nav-info" data-name="暂予监外执行"><a class="malign-center-text " href="#">------暂予监外执行</a></p>
                </div>
            </li>
            <li>
                <div class="t"><i class="img2 malign-center-left bg-img"></i><a class="malign-center font-22" href="#">办案</a><i class="i2 malign-center-right bg-img"></i></div>
                <div class="txt font-20 dper-por">
                    <div class="xian1 malign-tl"></div>
                    <p class="dper-por nav-info" data-name="二级导航"><a class="malign-center-text" href="#">------二级导航</a></p>
                    <p class="dper-por nav-info" data-name="二级导航1"><a class="malign-center-text" href="#">------二级导航</a></p>
                </div>
            </li>
            <li>
                <div class="t"><i class="img3 malign-center-left bg-img"></i><a class="malign-center font-22" href="#">监视管理</a><i class="i2 malign-center-right bg-img"></i></div>
                <div class="txt font-20 dper-por">
                    <div class="xian1 malign-tl"></div>
                    <p class="dper-por nav-info" data-name="二级导航2"><a class="malign-center-text" href="#">------二级导航</a></p>
                    <p class="dper-por nav-info" data-name="二级导航3"><a class="malign-center-text" href="#">------二级导航</a></p>
                </div>
            </li>
            <li>
                <div class="t"><i class="img4 malign-center-left bg-img"></i><a class="malign-center font-22" href="#">人员管理</a><i class="i2 malign-center-right bg-img"></i></div>
                <div class="txt font-20 dper-por">
                    <div class="xian1 malign-tl"></div>
                    <p class="dper-por nav-info" data-name="二级导航4"><a class="malign-center-text" href="#">------二级导航</a></p>
                    <p class="dper-por nav-info" data-name="二级导航5"><a class="malign-center-text" href="#">------二级导航</a></p>
                </div>
            </li>
        </ul>
    </div>
</div>
