<div class="header-container">
    <div class="header-nr flex">
        <div class="header-logo">
            <a class="logo-main flex" href="/">
                <div class="logo flex">
                    <img class="logo-icon" id="logo-icon" src="../assets/img/fengche.png">
                    <span style="font-size: 20px;font-weight: 400;color: #5f6368;padding-left: 16px;text-transform: lowercase;" class="">监管应用中心</span>
                </div>
            </a>
        </div>
        <div class="dper-x-y flex-center">
            <div class="x-y-ff-c">
                <div class="hs-set" title="设置" id="hs-set">
                    <div class="set-btn-icon">
                        <svg class="icon-svg" viewBox="0 0 24 24" width="100%" height="100%">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="x-y-ss-c">
                <% if(user!null==null){%>
	                <div class="ss-login">
	                    <div style="margin-top: 2px;color: #5f6368;cursor: pointer;text-decoration: none;font-size:14px" data-toggle="modal"  data-target="#loginModal">登录</div>
	                </div>
                    <%}else{%>
	                    <div hidden class="ss-login">
		                    <div style="margin-top: 2px;color: #5f6368;cursor: pointer;text-decoration: none;font-size:14px" data-toggle="modal"  data-target="#loginModal">登录</div>
		                </div>
                 	<%}%>
            </div>
        </div>
        <div class="set-sub-msg" state_="close" id="set-sub-msg">
       		<% if(user!null==null){%>
                <div class="sub-msg-item">
                	<div class="item-tx">未登录</div>
	            </div>
            <%}else{%>
                <div class="sub-msg-item">
                	<div class="item-tx">${user.loginname! }</div>
	            </div>
	            <div class="sub-msg-item">
	                <a href="./manufacturerSetting" style="color:#09f;text-decoration:none;"><div class="item-tx">个人中心</div></a>
	            </div>
	            <div class="sub-msg-item">
	            	<a href="./jkwd" style="color:#09f;text-decoration:none;"><div class="item-tx">接口文档</div></a>
	            </div>
	            <div class="sub-msg-item">
	              <a href="./user/logout" style="color:#09f; text-decoration:none;"><div class="item-tx">注销</div></a>
	            </div>
             <%}%>
        </div>
    </div>
</div>