@import "../../lib/dper/dperSass/_dper.utils.common";
body {
    background-color: #EBF2FF;
}
.qa-container {
    .section-item {
      .section-content {
        padding: 18px 18px 18px 18px;
        height: 596px;
      }
    }
  }