@import "../lib/dper/dperSass/_dper.utils.common";

// easyui reset
.combo-arrow {
  background-color: rgb(226, 237, 255);
}

.textbox {
  border: 1px solid #297aff;
  // width: 198px;
}

.textbox-focused {
  border-color: #96bfff;
  box-shadow: 0 0 3px 0 #c9deff;
}

.calendar-selected {
  background-color: #75aaff;
}

// datagrid

.panel-body.datagrid-wrap {
  border: none;
  .datagrid-view {
    border: 1px solid #b8d3ff;

    .datagrid-header {
      background-color: #e6efff;
      background-image: none;
      border-color: #b8d3ff;

      .datagrid-htable {
        font-weight: bold;
        color: #297aff;
        letter-spacing: 4px;

        td {
          &:hover {
            background-color: rgb(197, 219, 255);
          }
        }

        .datagrid-cell {
          span {
            @extend .font-18;
          }
        }
      }
    }
    .datagrid-body {
      // 渲染颜色稍后删除，请勿使用
      .datagrid-btable {
        tbody {
          tr {
            &:nth-child(3) {
              // background-color: #ffa50099;
              &:hover {
                // background-color: #ffa500cc;
              }
            }

            &:nth-child(5) {
              // background-color: #fe6e8361;
              &:hover {
                // background-color: #ff8985;
              }
            }
          }
        }
      }
      .datagrid-td-rownumber {
        background: #fff;
      }
    }
  }

  .pagination {
    background: #fff;
    padding: 10px;
    border: none;
    table {
      // background-color: yellow;

      .pagination-page-list {
        @extend .font-16;
        background-color: #297aff;
        border-radius: 3px;
        color: #fff;
        padding: 3px;
      }
      .pagination-num {
        border: 1px solid #71b7e6;
        border-radius: 3px;
        padding: 3px;
        color: #71b7e6;
        margin: 0 5px;
      }
      span {
        color: #71b7e6;
      }
    }

    .pagination-info {
      color: #297aff;
    }
  }

  td {
    border-color: #b8d3ff;
  }

  .datagrid-cell {
    @extend .font-18;
  }

  .datagrid-row-over {
    background-color: rgb(197, 219, 255);
  }

  .datagrid-row-selected {
    background-image: linear-gradient(
      to right top,
      #5c9aff,
      rgb(144, 186, 255)
    );
  }
}

// dialog 部分
#win {
  padding: 20px;

  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .form-item {
     flex: 1 1 30%;
     padding: 5px 0;
      label {
        @extend .font-18;
        display: inline-block;
        min-width: 100px;
        padding-right: 5px;
        text-align: left;
        }
    }
  }
  .button-group {
    margin-top: 50px;
    // background-color: yellow;
  }
}
