.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	height: 100%;
	cursor: pointer;
	color: #ccc;
	border: 2px dashed #ccc;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
.webuploader-pick-hover {
	background: rgba(204, 204, 204, 0.1);
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

