<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>安威德定时任务调度管理</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Master Stylesheet [If you remove this CSS file, your file will be broken undoubtedly.] -->
    <link rel="stylesheet" href="style.css">

</head>

<body class="vertical-dark">
    <!-- Preloader -->
    <div id="preloader"></div>
    <!-- Error Page Area -->
    <div class="error-page-area">
        <!-- Error Content -->
        <div class="error-content text-center py-5 px-4">
            <!-- Error Thumb -->
            <div class="erro-thumb">
                <img src="img/bg-img/bg.png" alt="">
            </div>
            <h2>权限错误!</h2>
            <p>对不起你没有使用该平台的权限，请联系系统管理员!</p>
            <a class="btn admetro-btn" href="/logout">退出</a>
        </div>
    </div>

    <!-- Must needed plugins to the run this template -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/admetro.bundle.js"></script>

    <!-- Active JS -->
    <script src="js/default-assets/active.js"></script>
</body>


</html>