<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="icon" href="img/core-img/favicon.ico">
    <!-- These plugins only need for the run this page -->
    <link rel="stylesheet" href="css/default-assets/notification.css">
    <link rel="stylesheet" href="css/c3.min.css">
    <!-- Master Stylesheet [If you remove this CSS file, your file will be broken undoubtedly.] -->
    <link rel="stylesheet" href="style.css">
    <script src="../../static/js/jquery.min.js"></script>
</head>
<body class="vertical-dark">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-30 " >
            <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="200ms">
                <div class="card-body">
                    <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between">
                        <h6 class="text-black">在押人员关押量分析</h6>
                        <div class="dashboard-dropdown">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                    <a class="dropdown-item popwin" href="#" url="html/zdEcharts/zyrygylfx/zyrygylfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                    <a class="dropdown-item" href="#"><i class="ti-settings"></i> 模型设置</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <img src="./js/images/zyrygyl.png" alt=""class="imgs"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 mb-30">
            <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="300ms">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                            <h6 class="text-black">户籍地分析</h6>
                            <div class="dashboard-dropdown">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                        <a class="dropdown-item popwin" href="#" url="html/zdEcharts/hjdfx/hjdfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <img src="./js/images/hjdfx.png" alt=""class="imgs"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 mb-30">
            <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="400ms">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                            <h6 class="text-black">年龄分析</h6>
                            <div class="dashboard-dropdown">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                        <a class="dropdown-item popwin start" href="#" url="html/zdEcharts/nlfx/nlfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <img src="./js/images/nlfx.png" alt="" class="imgs"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 mb-30">
            <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="500ms">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                            <h6 class="text-black">文化程度分析</h6>
                            <div class="dashboard-dropdown">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                        <a class="dropdown-item popwin" href="#" url="html/zdEcharts/whcdfx/whcdfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <img src="./js/images/whcdfx.png" alt="" class="imgs"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xl-3 mb-30">
            <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="500ms">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                            <h6 class="text-black">身份分析</h6>
                            <div class="dashboard-dropdown">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                        <a class="dropdown-item popwin" href="#" url="html/zdEcharts/whcdfx/whcdfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <img src="./js/images/whcdfx.png" alt="" class="imgs"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 mb-30">
            <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="300ms">
                <div class="card-body">
                    <div class="sparkline-chart">
                        <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                            <h6 class="text-black">健康状况分析</h6>
                            <div class="dashboard-dropdown">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                        <a class="dropdown-item popwin" href="#" url="html/kss/ryflfx/ryflfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <img src="./js/images/ryflfx.png" alt="" class="imgs"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 mb-30">
            <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="400ms">
                <div class="card-body">
                    <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                        <h6 class="text-black">严重疾病人员分析</h6>
                        <div class="dashboard-dropdown">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                    <a class="dropdown-item popwin" href="#" url="html/kss/yzjbryfx/yzjbryfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="./js/images/yzjbryfx.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 mb-30">
            <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="400ms">
                <div class="card-body">
                    <div class="notifications-card-heading border-bottom d-flex align-items-center justify-content-between" style="width: 100%">
                        <h6 class="text-black">国籍分析</h6>
                        <div class="dashboard-dropdown">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dashboardDropdown20">
                                    <a class="dropdown-item popwin" href="#" url="html/kss/gjfx/gjfx.html"><i class="ti-pencil-alt"></i> 预览</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="./js/images/gjfx.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-area d-flex align-items-center flex-wrap">
        <!-- Copywrite Text -->
        <div class="copywrite-text">
            <!-- <p>Admetro &copy; 2019 created by <a href="https://themeforest.net/user/designing-world">Designing World</a></p> -->
        </div>
    </footer>
</div>

<script type="text/javascript" src="js/seajs/sea.js"></script>
<script type="text/javascript">
    seajs.config({
        base: "./js",
        preload: ["plugins/jquery/jquery-3.3.1.min","admetro.bundle.js"],
        map:[
            [ /^(.*\.(?:css|js))(.*)$/i,'$1$2']
        ]
    });
    seajs.use('pages/show');
    
</script>
<style>
    .container-fluid{
        width:100%;
        height:650px;
        overflow-y: scroll;
    }
    ::-webkit-scrollbar {display:none};
</style>
</body>
</html>