<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="awd.cloud.platform.servers.analyse.dao.jls.Jls_XsdjDao">

    <select id="xsdjCount" resultType="java.util.HashMap" parameterType="String">
   	select count(xslx=1 or null) xzxs,count(czqk=1 and xslx=1 or null) as zs,
   	sum(if(xslx=1,if(czqk=1,PHXSAJS,0),0)) phxsaj,sum(if(xslx=1,if(czqk=1,XSJLRS,0),0)) chxsjlrs,
   	sum(if(xslx=1,if(czqk=1,PHZAAJS,0),0)) phzaaj,sum(if(xslx=1,if(czqk=1,ZZJE,0),0)) phzzje,
   	count(czqk=2 and xslx=1 or null) as wfcz, count(xslx=2 or null) jsaqxx, count(xslx=3 or null) shdtxx,
   	count(id) hj from xsdj
        <where>
              state = 'R2'
           <if test="starttime != null and starttime != ''">
                and date_format(jjrq,'%Y-%m-%d') &gt;= #{starttime}
            </if>
            <if test="endtime != null and endtime != ''">
                and date_format(jjrq,'%Y-%m-%d') &lt;= #{endtime}
            </if>
            <if test="jsbh != '' and jsbh != null">
                and jsbh = #{jsbh}
            </if>
        </where>
    </select>

</mapper>
