<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="awd.cloud.platform.servers.analyse.dao.jls.Jls_JcjlDao">

    <select id="jcjlFx" parameterType="String" resultType="java.util.HashMap">
        select
               zxr,
               sldsprq,
               cpgj,
               cprq,
               gjzyj
                       from  jcjl


        <where>
            <if test="starttime != null and starttime != ''">
                jcrq = #{starttime}
            </if>
            <if test="endtime != null and endtime != ''">
                and jcrq = #{endtime}
            </if>
            <if test="jsbh != null and jsbh != ''">
                and jsbh = #{jsbh}
            </if>
        </where>
    </select>
    
    <select id="jcjlyw" parameterType="String" resultType="java.util.HashMap">
              select
                    zxr,
                    sldsprq,
                    cpgj,
                    cprq,
                    gjzyj
              from jcjl
        
        <where>
            <if test="cpgj != null and cpgj != ''">
                   cpgj = #{cpgj}
            </if>
            <if test="cprq != null and cprq != ''">
                   and cprq = #{cprq}
            </if>
            <if test="ly != null and ly != ''">
                   and ly = #{ly}
            </if>
            <if test="gjyj != null and gjyj != ''">
                   and gjyj = #{gjyj}
            </if>
            
        </where>
    </select>
    
</mapper>
