<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="awd.cloud.platform.servers.analyse.dao.jls.Jls_YgryDao">

    <select id="ygryCount" resultType="java.util.HashMap" parameterType="String">
  select count(y.bllx=1 or null) yry,
  count(y.bllx=1 and j.xb=1 or null) yman,
  count(y.bllx=1 and j.xb=2 or null) ywoman,
  count(y.bllx=2 or null) lsry,
  count(y.bllx=2 and j.xb=1 or null) lsman,
  count(y.bllx=2 and j.xb=2 or null) lswoman,
  count(y.bllx=1 or null)-count(y.bllx=2 or null) as xry,
  count(y.bllx=1 and j.xb=1 or null)-count(y.bllx=2 and j.xb=1 or null) xman,
  count(y.bllx=1 and j.xb=2 or null)-count(y.bllx=2 and j.xb=2 or null) xwoman
   from ygry y left join jbxx j on y.rybh=j.rybh
        <where>
              y.state = 'R2' and y.ldyj="1"
           <if test="starttime != null and starttime != ''">
                and date_format(y.jssj,'%Y-%m-%d') &gt;= #{starttime}
            </if>
            <if test="endtime != null and endtime != ''">
                and date_format(y.jssj,'%Y-%m-%d') &lt;= #{endtime}
            </if>
            <if test="jsbh != '' and jsbh != null">
                and j.jsbh = #{jsbh}
            </if>
        </where>
    </select>

</mapper>
