<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="awd.cloud.platform.servers.analyse.dao.jls.Jls_lshjDao">

    <select id="lshjInfo" parameterType="String" resultType="awd.cloud.platform.servers.analyse.vo.AnalysisJlsResultVO">
        select
        k.dz,
        k.jsbh,
        count(j.jsbh) as count
        from jls k
        left join lshj j
        on k.jsbh = j.jsbh
        <where>

            <if test="hjsj!=null and hjsj!=''">
                and j.hjsj &gt;= #{hjsj}
            </if>
            <if test="jssj!=null and jssj!=''">
                and j.jssj &lt;= #{jssj}
            </if>
        </where>
        group by dz,JLSMC
    </select>


</mapper>