<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="awd.cloud.platform.servers.analyse.dao.jls.Jls_FxpgDao">
    <select id="fxpg" parameterType="String" resultType="java.util.HashMap">
        select count(xfxdj='1' or null) as qjlsfm,count(xfxdj='2' or null) as yqhsfm,count(xfxdj='3' or null) as hscqfm
        from fxpg
        <where>
            <if test="starttime != null and starttime != ''">
                tbrq = #{starttime}
            </if>
            <if test="endtime != null and endtime != ''">
                and tbrq = #{endtime}
            </if>
            <if test="jsbh != null and jsbh != ''">
                and jsbh = #{jsbh}
            </if>
        </where>
    </select>
</mapper>
