<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="awd.cloud.platform.servers.analyse.dao.jls.Jls_SzjdjlDao">

    <select id="szjdjlCount" resultType="java.util.HashMap" parameterType="String">
    select count(id) lfcs,count(sfcl=1 or null) ycl from szjdjl
        <where>
              state = 'R2'
           <if test="starttime != null and starttime != ''">
                and date_format(lfsj,'%Y-%m-%d') &gt;= #{starttime}
            </if>
            <if test="endtime != null and endtime != ''">
                and date_format(lfsj,'%Y-%m-%d') &lt;= #{endtime}
            </if>
            <if test="jsbh != '' and jsbh != null">
                and jsbh = #{jsbh}
            </if>
        </where>
    </select>

</mapper>
