<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="awd.cloud.platform.servers.analyse.dao.jls.Jls_QqdhDao">

    <select id="qqdhDt" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(id) thzcs from txth  where  szyj='1'  and state="R2"
        <if test="starttime != null and starttime != ''">
            and date_format(djrq,'%Y-%m-%d') &gt;= #{starttime}
        </if>
        <if test="endtime != null and endtime != ''">
            and date_format(djrq,'%Y-%m-%d') &lt;= #{endtime}
        </if>
        <if test="jsbh != '' and jsbh != null">
            and jsbh = #{jsbh}
        </if>

    </select>

    <select id="qqdhday" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(THKSSJ) drthcs from txth where date_format(djrq,"%Y-%m-%d")=date_format(now(),"%Y-%m-%d") and state = 'R2'
            <if test="jsbh != '' and jsbh != null">
                and jsbh = #{jsbh}
            </if>
    </select>


</mapper>
