<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="awd.cloud.platform.servers.analyse.dao.kss.CSJYPMDao">

    <resultMap id="CSJYPMMapper" type="awd.cloud.platform.servers.analyse.model.kss.DsjPTModel">
        <result property="jsbh" column="JSBH"/>
        <result property="swjy" column="SWJY"/>
    </resultMap>


    <!--1 kss出所就医排名-->
    <select id="select_CSJYPM" resultType="java.util.HashMap">
         		 SELECT COUNT(id  or NULL) as "csjy" FROM jy where SWJY="1" and  state = "R2" and JSBH=#{jsbh} and DATE_FORMAT(ZDRQ,"%Y-%m-%d")=DATE_FORMAT(NOW(),"%Y-%m-%d")
    </select>


    <!--1 jls出所就医排名-->
    <select id="select_jls_CSJYPM" resultType="java.util.HashMap">
         		SELECT COUNT(id  or NULL) as "csjy" FROM SWJY where   state = "R2"  and ZDZYJ="1" and SZYJ="1" and JSBH=#{jsbh} and DATE_FORMAT(BLRQ,"%Y-%m-%d")=DATE_FORMAT(NOW(),"%Y-%m-%d")
    </select>



</mapper>