<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="awd.cloud.platform.servers.analyse.dao.kss.TsdjDao">
    <select id="queryTsdjNum"  parameterType="String" resultType="java.util.HashMap">
        select
            k.dz,
            k.jsbh,
            count(t.jsbh) as count
        from kss k
        left join tsdj t
        on k.jsbh = t.jsbh
        <where>
            t.state = 'R2'
            <if test="kssj!=null and kssj!=''">
                and t.kssj &gt;= #{kssj}
            </if>
            <if test="jssj!=null and jssj!=''">
                and t.jssj &lt;= #{jssj}
            </if>
        </where>
        group by dz,kssmc
    </select>

    <!--提审登记=上位机版本-->
    <select id="swj_tsdjnum"   resultType="awd.cloud.platform.servers.analyse.vo.AnalysisResultVO">
        select
        k.dz,
        k.jsbh,
        count(t.jsbh) as count
        from kss k
        left join tsdj t
        on k.jsbh = t.jsbh
        <where>
            t.state = 'R2'
            <if test="kssj!=null and kssj!=''">
                and t.kssj &gt;= #{kssj}
            </if>
            <if test="jssj!=null and jssj!=''">
                and t.jssj &lt;= #{jssj}
            </if>
        </where>
        group by dz,kssmc
    </select>

    <select id="getTsdjCount" resultType="Integer">
        select count(*) as count from tsdj
        <where>
            state = "R2"
            <if test="jsbh != null and jsbh != ''">
                and jsbh = #{jsbh}
            </if>
        </where>
    </select>
    <select id="getJsTsdjCount" resultType="int">
        SELECT
        count(1)
        FROM
        jbxx jb
        WHERE
        jb.JSBH = #{jsbh}
        AND jb.JSH = #{jsh}
        AND jb.CRJBJ = '02'
    </select>
</mapper>
