<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="awd.cloud.platform.servers.analyse.dao.kss.FssgDao">
    <select id="rqcxF" parameterType="String" resultType="awd.cloud.platform.servers.analyse.vo.AnalysisResultVO">
        select
        k.dz,
        k.jsbh,
        count(f.jsbh) as count
        from kss k
        LEFT JOIN fssg f
        ON f.jsbh = k.jsbh
        <where>
            state='R2'
            <if test="starttime!=null and starttime!=''">
                and f.sgsj &gt;= #{starttime}
            </if>
            <if test="endtime!=null and endtime!=''">
                and f.sgsj &lt;= #{endtime}
            </if>
        </where>
        GROUP BY dz,kssmc
    </select>

</mapper>
