<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="awd.mis.servers.dao.PlDao">
    <resultMap id="PlResultMap" type="awd.mis.servers.entity.PlEntity">
		<result property="id" column="id" javaType="java.lang.String" jdbcType="CHAR"/>		
		<result property="appcode" column="appcode" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>		
		<result property="plr" column="plr" javaType="java.lang.String" jdbcType="VARCHAR"/>		
		<result property="plsj" column="plsj" javaType="java.util.Date" jdbcType="TIMESTAMP"/>		
		<result property="content" column="content" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>		
		<result property="dz" column="dz" javaType="java.lang.Integer" jdbcType="INTEGER"/>		
		<result property="clzt" column="clzt" javaType="java.lang.String" jdbcType="CHAR"/>		
		<result property="hflbid" column="hflbid" javaType="java.lang.String" jdbcType="CHAR"/>		
		<result property="state" column="state" javaType="java.lang.String" jdbcType="VARCHAR"/>		
		<result property="creator" column="creator" javaType="java.lang.String" jdbcType="VARCHAR"/>		
		<result property="createtime" column="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>		
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'PlResultMap'"/>
        <bind name="tableName" value="'pl'"/>
    </sql>

    <insert id="insert" parameterType="awd.mis.servers.entity.PlEntity">
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="deleteByPk" parameterType="String">
        delete from app where id =#{id}
    </delete>

    <delete id="delete" parameterType="awd.framework.common.entity.Entity">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="awd.framework.common.entity.Entity">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="query" parameterType="awd.framework.common.entity.Entity" resultMap="PlResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="count" parameterType="awd.framework.common.entity.Entity" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>  
    
    <select id="sequid"  resultType="String">
        <include refid="config"/>
        <include refid="BasicMapper.buildIdSqlMysql"/>
    </select>  
    
    
</mapper>
