<!-- partial:../../partials/_easyui_head.html -->
<!-- partial -->
<link rel="stylesheet" href="../../../static/css/kssmain.css" type="text/css">

<body scroll="no" class="body-pd10 ">


    <div class="dataView-container">
        <div class="table-container">
            <div class="tabs-wrapper">
                <div class="jxcx">
                    <div style="margin-left: 20px;font-size:22px;"><i class="fa fa-search" style="margin-right:5px;"></i>简项查询</div>
                </div>
                <div class="comp-search-box">
                    <div class="screen-top">
                        <div class="colRow">
                            监所:
                            <input id="" type="text" class="easyui-textbox" name="name" />
                        </div>
                        <div class="colRow">
                            警号:
                            <input id="" type="text" class="easyui-textbox" name="name" />
                        </div>
                        <div class="colRow">
                            <button class="easyui-linkbutton btnDefault">
                                <i class="fa fa-search"></i>查询
                            </button>
                            <button class="easyui-linkbutton btnDefault" style="margin-left: 15px;">
                                <i class="fa fa-sign-out"></i>导出
                            </button>
                        </div>
                    </div>
                </div>
                <!-- <div class="btnbar-tools" id="toolbar">
                    <a href="javascript:;" class="add" id="newData"><i class="fa fa-plus-square success"></i>添加</a>
                    <a href="javascript:;" class="edit"><i class="fa fa-pencil-square info"></i>编辑</a>
                    <a href="javascript:;" class="del"><i class="fa fa-times-rectangle danger"></i>删除</a>
                    <a href="javascript:;" class="count"><i class="fa fa-pie-chart purple"></i>统计</a>
                    <a href="javascript:;" class="check"><i class="fa fa-check-circle yellow"></i>审核</a>
                </div> -->
                <table id="test_table"></table>
            </div>
        </div>
    </div>


    <!-- partial:../../partials/form/_test_form.html -->
    <!-- partial -->
    <!-- partial:../../partials/laywin.html -->
    <!-- partial -->

    <script src="/apps/swj/static/lib/require.js" data-main="/apps/swj/static/js/controller/bgs.mjzfzqfx.js"></script>
    <script src="/apps/swj/static/js/require.config.js"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script> -->

</body>
<!-- partial:../../partials/_easyui_foot.html -->
<!-- partial -->