<div id="" class="div-inline col-md-8" style="float:left;">
	<section id="rt-showcase-surround">
		<div id="rt-showcase" class="slider-container rt-overlay-dark">
			<div class="rt-container slider-container">
				<div class="rt-grid-12 rt-alpha rt-omega " style="width: 600px">
					<div class="csslider1 autoplay" style="float: left;">
						<input name="cs_anchor1" autocomplete="off" id="cs_slide1_0" type="radio" class="cs_anchor slide"/>
						<input name="cs_anchor1" autocomplete="off" id="cs_slide1_1" type="radio" class="cs_anchor slide"/>
						<input name="cs_anchor1" autocomplete="off" id="cs_slide1_2" type="radio" class="cs_anchor slide"/>
						<input name="cs_anchor1" autocomplete="off" id="cs_play1"	type="radio" class="cs_anchor" checked="checked"/>
						<input name="cs_anchor1" autocomplete="off" id="cs_pause1"	type="radio" class="cs_anchor"/>
						<ul style="width: 100%; height: 66%;">
							<div style="width:100%; visibility: hidden; font-size: 0px; line-height: 0;">
								<img src="${app.pic1}" style="width: 100%;"/>
							</div>
							<li class="num0 img">
								<img src="${app.pic1}" alt="Clouds" title="Clouds" width="680px" height="350px"/>
							</li>
							<li class="num1 img">
								<img src="${app.pic2}"	alt="Typewriter" title="Typewriter" width="680px" height="350px"/>
							</li>
							<li class="num2 img">
								<img src="${app.pic3}"	alt="Bicycle" title="Bicycle" width="680px" height="350px"/>
							</li>
						</ul>
						<div class="cs_arrowprev">
							<label class="num0" for="cs_slide1_0"></label>
							<label class="num1" for="cs_slide1_1"></label>
							<label class="num2" for="cs_slide1_2"></label>
						</div>
						<div class="cs_arrownext">
							<label class="num0" for="cs_slide1_0"></label>
							<label class="num1" for="cs_slide1_1"></label>
							<label class="num2" for="cs_slide1_2"></label>
						</div>
						<div class="cs_bullets">
							<label class="num0" for="cs_slide1_0">
								<span class="cs_point"></span>
								<span class="cs_thumb">
									<img src="${app.pic1}" alt="Clouds" title="Clouds" style="width: 78px; height: 47px;" />
								</span>
							</label>
							<label class="num1" for="cs_slide1_1">
								<span class="cs_point"></span>
								<span class="cs_thumb">
									<img src="${app.pic2}" alt="Typewriter" title="Typewriter" style="width: 78px; height: 47px;" />
								</span>
							</label>
							<label class="num2" for="cs_slide1_2">
								<span class="cs_point"></span>
								<span class="cs_thumb">
									<img src="${app.pic3}" alt="Bicycle" title="Bicycle" style="width: 78px; height: 47px;" />
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="col-md-4" style="float:left;">
	<div style="">
		<div class="div-inline">
			<!-- <h2 style="padding-top: 10px;">${app.typeString} ${app.version}</h2> -->
			<p>${app.memo}</p>
		</div>
	</div>
</div>