<html>
<head>
<title>应用商城</title>
<link rel="stylesheet" type="text/css"	href="./css/appModel.css"/>
<link rel="stylesheet" type="text/css" href="./css/style.css"/>
<link rel="stylesheet" type="text/css" href="./css/comment.css"/>
<link rel="stylesheet" type="text/css" href="./css/hover-effects.css"/>
<link rel="stylesheet" type="text/css" href="./style/css/loginDialog.css" />
<link href="./style/css/zzc/zzcstyle.css" rel="stylesheet"	type="text/css" />
<link href="./style/bootstrap/bootstrap.min.css"	rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="./layui-v2.4.5/css/menu.css">
<script type="text/javascript" src="./js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script type="text/javascript" src="../src/kkpager.min.js"></script>
<link rel="stylesheet" type="text/css" href="../src/kkpager_orange.css" />
	
<script type="text/javascript" src="./js/jquery.flexText.js"></script>
<script type="text/javascript" src="./js/jquery.raty.min.js"></script>
<script type="text/javascript" src="../js/bootstrap-table.js"></script>

</head>
<body id="appxqscroll" style="overflow-x:hidden;overflow-y: scroll">
	

<input id="userName" type="hidden" value="${userName}"/>
<input id="appcode" type="hidden" value="${app.appcode}"/>
	<div>
		<div>
 			<div style="float: left;">
				<h2><img src="../images/icon/${app.icon}" style="max-widht:60px;max-height:60px;"><span style="position:relative;top:4px;margin:10px;">${app.name!"收押前台"}</span></h2>
				<span class="e-f-Me">由${app.creator}提供</span>
				<span id="jsbh" hidden class="e-f-Me">${jsbh}</span>
				<span id="glybz" hidden class="e-f-Me">${glybz}</span>
				<span id="userType" hidden class="e-f-Me">${userType}</span>
				<span id="appZone" hidden class="e-f-Me">${app.zone}</span>
				<span id="appFlag" hidden class="e-f-Me">${app.flag}</span>
				<label> 
					<span class='glyphicon glyphicon-star'></span>
					<span class='glyphicon glyphicon-star'></span> 
					<span class='glyphicon glyphicon-star'></span> 
					<span class='glyphicon glyphicon-star'></span> 
					<span class='glyphicon glyphicon-star'></span>
					${app.createtimeString}
					<span style="height: 15px; width: 1px; display: inline; border-left: 1px dotted #a6a6a6; margin: 0 10px; vertical-align: middle;"></span>
					<a href="#">${app.zoneString}</a>
				</label>
			</div>
			<div id="tjan" style='width: 50%; position: absolute;top:20px;left:80%;'>
				<button id="tjzzm"  disabled="true" type="submit" class="btn btn-primary btn-lg">
					<span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
					<span id="an">添加至桌面</span>
				</button>
			</div>

			<div>  <!-- ajax 状态码 非200 弹出窗-->
				<div class="modal fade" tabindex="-1" id="unseccessfulPost" >
					<div class="modal-dialog" >
						<div class="modal-content" style="width:50%;left:33%;">
							<div class="modal-header">
								<h4 class="modal-title">提示</h4>
							</div>
							<div class="modal-body">
								<p style="color:cornflowerblue;font-size:1.5rem;">请求状态码非200时弹出此框</p>
							</div>
							<div class="modal-footer">
								<button type="button " class="btn btn-primary" data-dismiss="modal" style="padding:6px 24px">确认</button>
								<button type="button" class="btn btn-default"  data-dismiss="modal" style="padding:6px 24px;margin-left:34px;">关闭</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<ul id="tabs" style="width: 100%;">
			<li ><a href="#" name="#tab1" >概述</a></li>
			<li style="position: absolute; left: 118px;"><a href="#" name="#tab2"  >评论</a></li>
			<li style="position: absolute; left: 236px;"><a href="#" name="#tab3"  >相关</a></li>
			<li class="yq" style="position: absolute; left: 354px;"><a href="#" name="#tab4"  >软件菜单</a></li>
			<li class="yq" style="position: absolute; left: 500px;"><a href="#" name="#tab5"  >系统参数</a></li>
			<li class="yq" style="position: absolute; left: 646px;"><a href="#" name="#tab6">api请求</a></li>
			<li class="yq" style="position: absolute; left: 788px;"><a href="#" name="#tab7"  >已订阅消息</a></li>
			<!-- <li class="yq" style="display: none;position: absolute; left: 949px;"><a href="#" name="#tab8">信息</a></li> -->
		</ul>
		<div id="contents">
			<div id="tab1" >
				<!-- 概述 -->
	    		<% include("/appModel/appinfo.html"){}%>
			</div>
			<div id="tab2">
				<!-- 评论-->
				<% include("/appModel/pinglun.html"){}%>
			</div>
			<div id="tab3">
				<!-- 相关-->
				<% include("/appModel/xgapp.html"){}%>
			</div>
			<div id="tab4" >
				<!-- 菜单-->
				<% include("/appModel/menu.html"){}%>

			</div>
			<div id="tab5" >
				<!-- 系统参数-->
				<% include("/appModel/setting.html"){}%>

			</div>
			<div id="tab6" >
				<!-- api请求-->
				<% include("/appModel/apiUrl.html"){}%>

			</div>
			<div id="tab7" >
				<!-- api请求-->
				<% include("/appModel/ydyxx.html"){}%>

			</div>
			<!-- <div id="tab8" > -->
				<!-- api请求-->
				<!-- <% include("/appModel/dyinfo.html"){}%>

			</div> -->
		
		</div>
	</div>
     <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
        <div class="modal-content" style="width:44%;height:33%;left:28%;top:20%;">
           <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
           <!-- 右上角X图标关闭提示框  默认关闭 <div class="modal-body"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <p id="content" style="letter-spacing:2px;text-align:center;margin-top:7%;font-size:20px;height:82%;background-color:#ffffff;"></p>
                <button type="button" class="btn btn-primary" data-dismiss="modal" style="position:absolute;top:100%;left:78%;">关闭</button>            
            </div>
        </div><!-- /.modal-content -->
	<div class="modal fade" id="AppCodemyModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div  class="modal-content" style="width:70%;height:70%;left:18%;top:15%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">AppCode</h4>
			</div>
				<p id = "appCodecontext" class="s-msg-txt" style=" font-size:25px;width:92%;border:1px;word-wrap:break-word;margin-left:4%;line-height:28px;"></p>
				<textarea id="input" style="position: absolute;top: 0;left: 0;opacity: 0;z-index: -10;"></textarea>
			<div style="margin-left:35%;margin-top:10%;">
				<button type="button" id="copyText" class="btn btn-primary" style="">复制</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" style="">关闭</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" >
	function searchAPP() {
	    $.ajax({
	        url: "apps",// 跳转到 action
	        data:{'namelike':''},
	        type: 'post',
	        cache: false,
	        async: false,
	        success: function (result) {
	        	var data = result.result.data;
	            $("#xgapps").children('div').remove();
	            var ulEle;
	            var num =10;
	            if(data.length < 10) 
	            	num = data.length;
	            for (var i = 0; i < num; i++) {
	                if (i % 4 == 0) {
	                    ulEle = $("<ul></ul>").appendTo($("#xgapps"));
	                }
	                var app = data[i];   
	                var id = app['id'];
	                var appEle = $('<ul style="width:800px !important;">'
	                +'<li class="port-0"  style="width:30% !important;float;left;">'
	                +'<div class="port-1 effect-1">'
	                +'<div class="image-box"><img width="250px" height="112" src='+app['pic1'] +'>'
	                +'</div>'
	                +'<div class="text-desc">'
					+ "<div class='overlay'><a href='#' class='lnColor'>" + app['name'] + "</a>"
					+ "<a class='close-overlay hidden'>x</a></div></div>"
					+ "<p>"+"<br/><br/><div class='pl'>" + app['createtime'] + "</div></p>"
					// + "<br/><p>" + app['name'] + "<br/><br/>" + app['createtimeString'] + "</p>"
	                // +'<h4 style="text-align:left;margin-left: 40px;margin-bottom: 10px;">'+ app['name'] +'</h4>'
	                // +'<label style="margin-top: 10px;margin-bottom: 10px;margin-right: 50px;">'
	               	// + app['createtimeString']
	                // +'</label>'
	                // +'<button type="submit" id="tjzzm" class="btn btn-primary " style=" margin-right: 30px;margin-top: 10px;"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span id="an"> 添加至桌面</button>'
	                +'</div>'
	                +'</div>'
	                +'</li>'
	                +'</ul>').appendTo(ulEle);               
	            }
	        }
	    });
	}
	// <!--textarea限制字数-->
	function keyUP(t){
        var len = $(t).val().length;
        if(len > 139){
            $(t).val($(t).val().substring(0,140));
        }
    }

	//评论分页
	function getPlList(appcode) {
		var pageIndex = 0;
		var pageSize = 4;
	    $.ajax({
	       type: 'POST',
	       url: '/getAppPl', 
	       data: {
	      	 'appcode':appcode,
	      	 'pageIndex':pageIndex,
	      	 "pageSize":pageSize,
	       },
	       cache: false,
	       async: false,
	       success: function (data) {
	      	var totalRecords = data.result.total;
		      var totalPage;
		      if(totalRecords % pageSize == 0){
		      	totalPage = Math.floor(totalRecords/pageSize);
		      }else{
		      	totalPage = Math.floor(totalRecords/pageSize) + 1;
		      } 
	          init_pl_kkpager(appcode,pageIndex,pageSize,totalPage,totalRecords);
	          
	          sortPlList(data.result.data);
	       }

	    }); 
	}
	
	var init_pl_kkpager = function(appcode,pageIndex,pageSize,totalPage,totalRecords){
		//生成分页组件
		kkpager.generPageHtml({
			pno : 1,
			//总页码
			total : totalPage,
			//总数据条数
			totalRecords : totalRecords,
			mode : 'click',//默认值是link，可选link或者click
			click : function(click_page){
				// do something
				//手动选中按钮
				this.selectPage(click_page);
				//return false;
				var querydata = {
					"appcode":appcode,
		    		"pageIndex" : click_page - 1,
		    		"pageSize":pageSize,
		    	}
		       $.ajax({
		            url: "/getAppPl",// 跳转到 action
		            data: querydata,
		            type: 'post',
		            cache: false,
		            async: false,
		            success: function (data) {
		            	sortPlList(data.result.data);
		            }
		        }); 
			}
		},true);
	}


	
	var sortPlList = function(list){
		$("#app_pinglun ul>li").remove();
		$("#app_pinglun").empty();
		var ulEle;
	    for(var i=0;i < list.length;i++){
	        ulEle = $("<ul></ul>").appendTo($("#app_pinglun"));
	        var content = list[i].content;
	        var plr = list[i].plr;
	        var plsjString = list[i].plsjString;
	        var id = list[i].id;
	        var oHtml = '<div class="comment-show-con clearfix">' +
	        				'<div class="comment-show-con-list pull-left clearfix" style="height:30px;width:600px;">' +
	        					'<div class="clearfix">'+
	        						'<a href="#" class="comment-size-name">'
	        							+ plr +
	        						'</a>'+
	        						'<span class="my-pl-con" style="padding:0 10;">'
	        							+ plsjString +
	        						'</span><br>'+
	        						'<strong class="my-pl-con">&nbsp;'
	        							+ content +
	        						'</strong>'+
	        					'</div> '+
	        					/* '<div class="date-dz"> '+
	        						'<div class="date-dz-right pull-right comment-pl-block" style="top:-40px">'+
	        							'<a href="javascript:;" class="removeBlock" plid="'+id+'">删除</a> '+
	        						'</div>'+
	        					'</div>'+ */
	        					'<div class="hf-list-con"></div>'+
	        				'</div>'+
	        			'</div>';
	        var pl_Ele = $(oHtml).appendTo(ulEle);
	        //bindAction();
	    }
	}
	
	var removePl = function(){
		//不写删除了
	}
	
	 $(document).ready(function () {
		 $("#xgapps").on('click',":button",function(){
			 var glybz =$("#glybz").text();
			 var jsbh =$("#jsbh").text();
			 var appcode = $("#appcode").val();
			 if(jsbh=="1" && glybz=="2"){
				 //alert("请管理员用户登陆后进行此操作");
				 $("#content").html("请管理员用户登陆后进行此操作");
				 $("#myModal").modal();
			 }else{
				 var an = $("#an").text();
				 var appcode = $('#appcode').val();
				 appcode = encodeURIComponent(appcode);
				 if(an == "添加至桌面"){
					 azyy(appcode);
				 }else if(an == "卸载应用"){
					 xzyy(appcode);
				 }
			 }
		 })
		 
		 $('#tjzzm').on('click',function(){
			 var glybz = $("#glybz").text();
			 var jsbh = $("#jsbh").text();
			 var appcode = $("#appcode").val();
			 var userType = $("#userType").text();
			 var appZone = $("#appZone").text();
             var flag = false;
			 if(glybz == '1' && (jsbh =="999999999" || jsbh =="000000000")){
				 $("#appCodecontext").html(appcode);
				 $("#AppCodemyModal").modal();
				 $('h4').html("AppCode");
			 }else {
				 for (var i = 0; i < appZone.length; i++) {
					 if (userType == appZone[i]) {
						 flag = true;
					 }
				 }
				 if (jsbh == "1" && glybz == "2") {
					 $("#content").html("请管理员用户登陆后进行此操作");
					 $("#myModal").modal();
				 } else if (!flag) {
					 $("#content").html("您无权使用当前应用！");
					 $("#myModal").modal();
				 } else {
					 var an = $("#an").text();
					 var appcode = $('#appcode').val();
					 appcode = encodeURIComponent(appcode);
					 if (an == "添加至桌面") {
						 azyy(appcode);
					 } else if (an == "卸载应用") {
						 xzyy(appcode);
					 }
				 }
			 }
		 })

         // textarea高度自适应
         $(function () {
		        $('.content').flexText();
		 }); 
		 
		 $(function() {
			 //发表评论
			 $('#sendPlDiv').on('click',function(){
				 var plContext = $('#plContext').val();
				 var data = {
						 "appcode" : $('#appcode').val(),
						 "plr" : $('#userName').val(),
						 "plsj" : getNowFormatDate(),
						 "content" : plContext,
				 }
				 $.ajax({
			            url: "/savePl",// 跳转到 action
			            data: data,
			            type: 'post',
			            //cache: false,
			            async: false,
			            success: function (data) {
			            	if(data.status == 200){
			            		getPlList($('#appcode').val());
			            		$('#plContext').val("");
			            	}
			            }
			        }); 
			 })
		 });
		 
		 
		//复制按钮
		$('#copyText').on('click', function() {
			var text = document.getElementById("appCodecontext").innerText;
			var input = document.getElementById("input");
		      input.value = text; // 修改文本框的内容
		      input.select(); // 选中文本
		      document.execCommand("copy"); // 执行浏览器复制命令
		      $('#AppCodemyModal').modal('hide');
		      $("#content").html("复制成功");
		      $("#myModal").modal();
		});
		 
		//  <!--家在评论--> 
		 getPlList($('#appcode').val());
		 anzh();
		searchAPP();
		 rjgys();
	 });
	//获取当前时间yyyy-MM-dd格式
	    function getNowFormatDate() {
	    	var date = new Date();
	    	var seperator1 = "-";
	    	var seperator2 = ":";
	    	var month = date.getMonth() + 1<10? "0"+(date.getMonth() + 1):date.getMonth() + 1;
	    	var strDate = date.getDate()<10? "0" + date.getDate():date.getDate();
	    	var currentdate = date.getFullYear() + seperator1  + month  + seperator1  + strDate
	    			+ " "  + date.getHours()  + seperator2  + date.getMinutes()
	    			+ seperator2 + date.getSeconds();
	    	return currentdate;
	    }

	//判断是否为软件供应商
	function rjgys() {
		var appflag = $("#appFlag").text();
		var jsbh = $("#jsbh").text();
		if (jsbh == "999999999" && appflag=="3"){
			$(".yq").show();
		}
	}
	//按钮置灰
	function anzh(){
		var glybz =$("#glybz").text();
		var jsbh =$("#jsbh").text();
		var appcode = $("#appcode").val();
		var appflag = $("#appFlag").text();
		var flag = window.location.href.split("=")[3];
		if(glybz == '1' && (jsbh !="999999999" && jsbh !="000000000")){
			$("#tjzzm").removeAttr("disabled");
			if(flag == "1"){
				$("#an").text("卸载应用");
			}
		}else if(glybz=="1" && (jsbh =="999999999" || jsbh =="000000000")){
			$("#tjzzm").removeAttr("disabled");
			$("#an").text("查看AppCode");
		}
	}
	 
	//安装应用
	function azyy(appcode){
		$.ajax({
            url: "./addJsapp?appcode="+appcode,// 跳转到 action
            type: 'post',
            cache: false,
            async: false,
            success: function (data) {
            	//alert("应用安装成功！");
            	$("#content").html("应用安装成功!");
				 $("#myModal").modal();
            	$("#Success").html();
            	$("#an").text("卸载应用");
            }
        });
	}
	
	//卸载应用
	function xzyy(appcode){
		$.ajax({
            url: "./delJsapp?appcode="+appcode,// 跳转到 action
            type: 'post',
            cache: false,
            async: false,
            success: function (data) {
            	//alert("应用卸载成功！");
            	$("#content").html("应用卸载成功!");
				 $("#myModal").modal();
            	$("#an").text("添加至桌面");
            }
        });
	}

	// 查询菜单信息
	function menus() {
	var appcode = encodeURIComponent($("#appcode").val());
		searchapiSp(appcode);

	}
	menus();

	//查询系统参数
	function settings() {
		var appcode = encodeURIComponent($("#appcode").val());

		searchapiSetting(appcode);
	}
	settings();

	//查询api请求
	function apiurls() {
		var appcode = encodeURIComponent($("#appcode").val());
		searchapiurl(appcode);
	}
	apiurls();

	//查询订阅申请
	function ydyxxs() {
		var appcode = $("#appcode").val();
		searchapiydyxx(appcode);
	}
	ydyxxs();

	//查询信息
	function dyxxs() {
		var appcode = encodeURIComponent($("#appcode").val());
		// searchapixx(appcode);
	}
	dyxxs();

	//复制按钮
	$('#copyText').on('click', function() {
		var text = document.getElementById("appCodecontext").innerText;
		var input = document.getElementById("input");
		input.value = text; // 修改文本框的内容
		input.select(); // 选中文本
		document.execCommand("copy"); // 执行浏览器复制命令
		$('#AppCodemyModal').modal('hide');
		$("#content").html("复制成功");
		$("#myModal").modal();
	})
	</script>

    <script>
		var PostType = function(code){
			if(code != 200){
				$('#unseccessfulPost').modal('show')
			}
		}
	</script>

  	<script src="./js/appModel.js"></script>
</body>
   <style>
      .modal-backdrop {
	  opacity: 0 !important;
	  filter: alpha(opacity=0) !important;
	}
	  .modal-header {
	  padding: 10px;
	  }
	  #appxqscroll::-webkit-scrollbar{
		  display:none;
	  }
   </style>
</html>
