				<!--
				    此评论textarea文本框部分使用的https://github.com/alexdunphy/flexText此插件
				-->
				<div class="commentAll" style="width: 100%;margin: 15px auto;">
					<!--回复区域 begin-->
					<div class="comment-show" style="margin-top: -21px;">
						<div id="pingLunListDiv" style="height: 180px">
							<ul class="pageDiv clearfix" id="app_pinglun"></ul>
						</div>
						<div style="width:600px;margin:0 auto;margin-bottom: -20px;top: 20px;">
							<div id="kkpager" style="margin-top: 60px;"></div>
						</div>
					</div>
					<!--回复区域 end-->
				</div>
				<div style="width: 90%;height: 50px;">
					<!--评论区域 begin-->
					<div class="reviewArea clearfix" style="width: 90%;height: 80px;">
					    <div style="float: right;">
							<div id="sendPlDiv" class="plBtn" style="margin-top: 2px;height: 76px;width: 8%;right: 28px;cursor:pointer;position: absolute;"><label style="font-size: 24px;margin-top: 18px;cursor:pointer;">评论</label></div>
						</div>
						<div style="float: left;width: 65%">
							<textarea id="plContext" class="content comment-input" style="height: 80px;width: 172%;left: 0px;"	placeholder="评价一下吧（可选）&hellip;" onkeyup="keyUP(this)"></textarea>
						</div>
					</div>
					<!--评论区域 end-->
				</div>
				<script type="text/javascript" >
				
				</script>