				<h2>相关应用</h2>
				<div class="role" id="xgapps" style='height:10%;width:10%;'></div>
				<ul style="width:25%;float:left;">
					<li class='port-0'>
						<div class="port-1 effect-1">
							<div class="image-box">
							</div>
							<div class="text-desc">
								<h4	style="text-align: left; margin-left: 40px; margin-bottom: 10px;">入所管理</h4>
								<label style="margin-top: 10px; margin-bottom: 10px;"> 
									<!--<span class='glyphicon glyphicon-star'></span>
									<span class='glyphicon glyphicon-star'></span> 
									<span class='glyphicon glyphicon-star'></span> 
									<span class='glyphicon glyphicon-star'></span> 
									<span class='glyphicon glyphicon-star'></span>-->
									${app.createtime}
								</label>
								<button type="submit" class="btn btn-primary "
									style="margin-right: 30px; margin-top: 10px;">
									<span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
									添加至桌面
								</button>
							</div>
						</div>
					</li>
				</ul>